<html>
    <head>
    </head>
    <body>
        <div class="dashboard-main">
            <div class="dashboard-title">Dashboard Panel</div>
            <div class="dashboard-temperature-field"> Temperature Value : {{temperature}}</div>
            <div class="dashboard-humidity-field"> Humidity Value : {{humidity}}</div>
       	{% if ledStatus|string() == "on" %}
            <a class="dashboard-led-off" href="/dashboard?led=off">Turn off LED</a>
        {% else %}
            <a class="dashboard-led-on" href="/dashboard?led=on">Turn on LED</a>
        {% endif %}
        </div>
    </body>
</html>





